.pokemonDetails_Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--purple-light);
      box-shadow: var(--space-4xs) var(--space-3xs) var(--space-2xs) rgba(0, 0, 0, 0.04);
      color: var(--white-light);
    border-radius: var(--space-xs);
    gap: var(--space-3xs-2xs);
    margin: var(--space-xl) auto;
    width: var(--space-xl-2xl);
    height: var(--space-2xl-3xl);
}
.poke_Img{
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    gap: var(--space-4xs-3xs);
    align-items: center;
    /* width: var(--space-4xl-6xl);
    height: var(--space-4xl-6xl); */

}
.poke_Img>img{
    width: var(--space-4xl-6xl);
    height: var(--space-4xl-6xl);
}
.poke_Img h5{
    font-size: var(--step-0);
}
.About_Pokemon{
    flex-grow: 1;
    margin:auto var(--space-xs-s);
}
.About_Pokemon p{
    font-size: var(--step--1);
}